body{
    font-family: Arial;
    background:#f4f4f4;
    text-align:center;
}

.search-box{
    margin:20px;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

#news-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    background:white;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.card a{
    text-decoration:none;
    color:blue;
}